{# src/templates/_includes/macros.twig #}

{% macro instructions(instructionText, infoHtml) -%}
    <div>
        {{ instructionText|t('slugsmith') }}
        <div class="info">
            {{ infoHtml|raw }}
        </div>
    </div>
{%- endmacro %}

{% macro configWarning(setting) %}
    {% set setting = '<code>'~setting~'</code>' %}
    {{ "This setting is being overridden by {setting} in the {file} config file."|t('slugsmith', {
        setting: setting,
        file: '<code>slugsmith.php</code>'
    })|raw }}
{% endmacro %}